$header-color: #353434;
$header-font: Helvetica, sans-serf;
$header-font-color: #ffff;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-color: $header-color;
    font-family: $header-font;
    color: $header-font-color;
    padding: 2%;
}
h1{
    text-align: center;
}

span{
    background-color: rebeccapurple;
    margin-top: 2%;
}

