$footer-color: #353434;
$footer-font: Helvetica, sans-serf;
$footer-font-color: #ffff;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
footer{
    position: absolute;
    background-color: $footer-color;
    font-family: $footer-font;
    color: $footer-font-color;
    padding: 2%;
    bottom: 0;
    width: 100%;

}




